* {
    margin: 0px;
    padding: 0px;
    box-sizing:0px;
}

body{
    font-family:'Poppins', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height:10 vh;
    margin: auto;
    align-items: center;

}

header h1{
    padding-right: 20px;
}

main{
    width: 100%;
    margin: auto;
}

.logo-container, .nav-links{
    display: flex;
}

.logo-container{
    background: white;
    flex: 1;
    padding-left: 20px;
}

.logo{
    font-weight: bold;
    margin: 2px;
}

nav{
    background: black;
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
    padding-top: 40px;
    width: 945px;
    height: 80px;
}

.nav-link{
    color:white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.presentation{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 80vh;
}

.cover img {
    height: 527px;
    width: 900px;
    margin: auto;
}

.intro-text{
    background: black;
    color: white;
    margin: auto;
    padding-top: 130px;
    padding-right: 30px;
    padding-left: 55px;
    padding-bottom: 182px;
}
.intro-text h1{
    font-size: 22pt;
    padding-bottom: 8px;
}
.intro-text p{
    font-size: large;
}

.slidershow{
    width: 800px;
    height: 600px;
    overflow: hidden;
}

.middle{
    margin-top:250px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.middle h3{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: bold;
   
}

.operator2 img{
    float: left;
    margin-left: -900px;
    margin-top:580px;
}

.operator1 img{
    float: right;
    margin-right: -759px;
    margin-top:580px;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid lightgray;
    margin: 10px;
    cursor: pointer;
}

.bar:hover{
    background: white;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 80%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}

.slides2 {
    position: relative;
}

.slides2:hover #left-btn, .slides2:hover #right-btn {
    display: block;
}

.slides2 button {
    background-color: black;
    display: none;
    opacity: 20%;
    border: none;
    position: absolute;
}

#left-btn {
    left: 0px;
}

#right-btn {
    right:0px;
}

#footer{
    background-color: black;
    height: 360px;
    width: 100%;
    position: relative;
    margin-top: 460px;
    padding-top: 20px;
    clear: both;
}

#footer h6{
    color:white;
    font-size: x-large;
    font-weight: normal;
    padding-left: 696px;
}

#footer p{
    color:white;
    padding-top: 25px;
    padding-left: 50px;
    text-align: center;
}

#footer h1{
    color:white;
    font-size: large;
    font-weight: lighter;
    padding-left: 660px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.socmed{
    padding-top: 20px;
    padding-left: 676px;
}

.socmed img{
    padding-right: 15px;
}

@media screen and (max-width: 800px){
    header{
        width: 120%;
        margin-left: 0;
        margin-right: 0;
    }
    header h1{
        padding-right: 20px;
    }
    .presentation {
        flex-direction: column;
        width: 155%;
        margin-left: auto;
        margin-right: auto;      
    }
    .introduction{
        text-align: center;
    }
    .intro-text{
        padding-top: 55px;
        padding-right: 30px;
        padding-left: 55px;
        padding-bottom: 0px;
    }

    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 20px;
    }
    .cover {
        background-color: black;
    }
    .cover img {
        height: 625px;
        width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }
    .middle{
        padding-top: 670px;
        padding-left: 520px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    /*Mohon maaf kalau tidak responsif webnya, saya coba2 malah berantakan*/
}