* {
    margin: 0px;
    padding: 0px;
    box-sizing:0px;
}

body{
    font-family:'Poppins', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height:10 vh;
    margin: auto;
    align-items: center;

}

header h1{
    padding-right: 20px;
}

main{
    width: 100%;
    margin: auto;
}

.logo-container, .nav-links{
    display: flex;
}

.logo-container{
    background: white;
    flex: 1;
    padding-left: 20px;
}

.logo{
    font-weight: bold;
    margin: 2px;
}

nav{
    background: black;
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
    padding-top: 40px;
    width: 945px;
    height: 80px;
}

.nav-link{
    color:white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}
.top-right{
    position: absolute;
    font-size: larger;
    padding-left: 40px;
    padding-top: 50px;
    top: 8px;
    right: 120px;
}

.righter{
    position: absolute;
    font-size: larger;
    padding-left: 40px;
    padding-top: 50px;
    top: 967px;
    right: 0px;
}
.lefter{
    position: absolute;
    font-size: larger;
    padding-left: 0px;
    padding-top: 50px;
    top: 968px;
    left: 0px;
}


.cover{
    background: black;
    padding-top: 80px;
    padding-bottom: 12px;
    position: relative;
    text-align: right;
    color: white;
}
.cover h2{
    font-weight: normal;
}
.cover h1{
    font-size: 40pt;
}

form{
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
}

form h1{
    margin-bottom: 20px;
    font-size: xx-large;
}
.form_reg{
    width: 250px;
    height: 40px;
    font-size: large;
    margin-bottom: 20px;
    text-align: center;
}
.tombol_reg{
    margin-top: 20px;
    font-size: larger;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.lebel{
    font-size: large;
}

#footer{
    background-color: black;
    height: 360px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    clear: both;
}

#footer h6{
    color:white;
    font-size: x-large;
    font-weight: normal;
    padding-left: 696px;
}

#footer p{
    color:white;
    padding-top: 25px;
    padding-left: 50px;
    text-align: center;
}

#footer h1{
    color:white;
    font-size: large;
    font-weight: lighter;
    padding-left: 660px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.socmed{
    padding-top: 20px;
    padding-left: 676px;
}

.socmed img{
    padding-right: 15px;
}
